body{
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
}
#dont-skip{
    color: orange;
}
h1{
    font-size: 70px;
    height: 30px;
}
.compromise{
    display: flex;
    padding-left: 5% ;
}
.food{
    width: 50%;
}
.food img{
    width: 80%;
    margin-left: 5%;
}
.link-first {
    text-decoration: none;
    background-image: linear-gradient(#ff99cc,#0066cc);
    padding: 10px 30px;
    font-weight: 700;
    border-radius: 10px;
    color: white;
   ;
}
.banner{
    background-image: url(food-network-main/Frame\ 57.jpg);
}